<div id="content-div">

<mat-spinner style="margin:0 auto;" *ngIf="!collection"></mat-spinner>

<ng-container *ngIf="collection">
    <h1>Plant Away! <ng-container *ngIf="season">
        <img src={{seasonImagePath}} alt={{season.name}}>
    </ng-container></h1>
    <mat-divider></mat-divider>

        <br><div><table>
            <tbody>
                <th><th colspan="5">Empty land plots</th>
                <tr><td></td>
                    <td><div (click)="toggleRarity(0)" class="common_outer"><div class="common" [class.active]="selctLand[0]"><ng-container *ngIf="selctLand[0]">&#xd7;</ng-container></div></div> {{plotCount[0].amount}}</td>
                    <td><div (click)="toggleRarity(1)" class="rare_outer"><div class="rare" [class.active]="selctLand[1]"><ng-container *ngIf="selctLand[1]">&#xd7;</ng-container></div></div> {{plotCount[1].amount}}</td>
                    <td><div (click)="toggleRarity(2)" class="epic_outer"><div class="epic" [class.active]="selctLand[2]"><ng-container *ngIf="selctLand[2]">&#xd7;</ng-container></div></div> {{plotCount[2].amount}}</td>
                    <td><div (click)="toggleRarity(3)" class="legendary_outer"><div class="legendary" [class.active]="selctLand[3]"><ng-container *ngIf="selctLand[3]">&#xd7;</ng-container></div></div> {{plotCount[3].amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
        <br>
        <ng-container *ngIf="cropName">You can plant {{plantableSeeds}} {{cropName}} seeds in {{season.name | lowercase}}.
            <br><br>
        </ng-container>
        <mat-form-field appearance="outline">
            <mat-label>User</mat-label>
            <input matInput [(ngModel)]="user"
               aria-label="User"
               value="0"
               name="User">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Seed</mat-label>
          <input matInput (ngModelChange)="updateCropName($event)"
                 [value]="cropName"
                 aria-label="Seed"
                 name="Seed"
                 [matAutocomplete]="auto"
                 [formControl]="seedCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let seed of filteredSeeds | async" [value]="seed.name">
              <img src={{seed.img}}>
              <small>{{seed.name}}</small> |
              <small>#{{seed.number}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input matInput [(ngModel)]="cropNumber"
               aria-label="Amount"
               value="0"
               name="Amount">
        </mat-form-field>
      
    <br><br>

    <button (click)="testButton()" mat-flat-button color="primary">Plant</button>
</ng-container>
</div>