* {
    font-family: FredokaOne , sans-serif !important;
  }

#header_bar{
    font-family: FredokaOne , sans-serif !important;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.00px; 
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(90deg,#38ef7d,#11998e);
    width: 100%;
    padding: 1%;
}



